svg#mindmap {
  width: 100%;
  min-height: 600px;
}

.markmap-node {
  cursor: pointer;
}
  
.markmap-node-circle {
  fill: #fff;
  stroke-width: 1.5px;
}

.markmap-node-text {
  fill:  #000;
  font: 10px sans-serif;
}

.markmap-link {
  fill: none;
}

.save-diagram-button {
  font-size: 12px;
  color: #000;
  padding: 1px 4px 1px 4px;
  border-radius: 4px;
  background-color: gainsboro;
  cursor: pointer;
}
.save-diagram-button:hover {
  background-color: cornsilk;
}
